* {
    font-family: 'Inter', sans-serif;
    /* scroll-behavior: smooth; */
}

.font-light {
    font-weight: 300;
}
.font-bold {
    font-weight: 700;
}
.push-right {
    margin-left: auto;
}
.push-left {
    margin-right: auto;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF9E5;
    padding: 0 1rem;
    color: #002851;
}

.header-logo {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.header-link {
    margin: .5rem;
    color: 002851;
    text-decoration: none;
}

.chevron::before {
    content: '';
    background-image: url('./images/chevron-right.svg');
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -25px;
}
.alert {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 80%;
    height: 56px;
    padding: 1rem 1.5rem 1rem 1rem;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.12 ), 0 1px 2px rgba( 0, 0, 0, 0.24 );

    overflow: hidden;

    white-space: pre;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF9E5;
    padding: 2rem 0;
    scroll-behavior: smooth;
}

.hero-content {
    z-index: 100;
}
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 80%;
}

.hero-text {
    margin-left: 10%;
}

.hero-subtext {
    padding: 2rem 0;
}

.hero-image {
    /* min-height: 200px; */
    /* max-width: px; */
    margin-top: 1rem;
    /* margin-right: 10%; */
    margin-bottom: 1rem;
    margin-left: 10%;
    /* -webkit-transform: scaleX(-1); */
    /* transform: scaleX(-1); */
}

.hero-action {
    display: flex;
    justify-content: center;
}
.answerButton {
    scroll-behavior: smooth;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-bottom: 2rem;
    padding: 1rem 2rem 1rem 1rem;
    background-color: 16a34a;
    border-radius: 9999px;
    max-width: 300px;

    font-size: 1.2rem;
    text-decoration: none;
    color: white;

    transition: .1s linear all;
}
.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1rem;
    padding: 1rem;
    background-color: rgba( 255, 255, 255, .2 );
    border-radius: 9999px;
  }
.call {
    animation: .8s vibrate infinite alternate;
}
@keyframes vibrate {
    0% { transform: skewX( -15deg ) scale( 1.1 ); }
    5% { transform: skewX( 15deg ) scale( 1.1 ); }
    10% { transform: skewX( -15deg ) scale( 1.1 ); }
    15% { transform: skewX( 15deg ) scale( 1.1 ); }
    20% { transform: skewX( 0deg ) scale( 1 ); }
    100% { transform: skewX( 0deg ) scale( 1 ); }
}

.custom-shape-divider-bottom-1652847882 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1652847882 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1652847882 .shape-fill {
    fill: #FFFFFF;
}

.customers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.customer-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}
.customer-logo {
    margin: 2rem;
    max-width: 175px;
}

.features {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60%;
}
.features-header {
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 300;
}
.features-section {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.features-text {
    margin: 3rem; width: 80%;
}
.features-image-container {
    width: 100%;
}
.features-image {
    padding: 4rem;
    max-height: 512px;
}
.features-number {
    font-size: 3rem;
    font-weight: 300;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    max-width: 70%;
}
.testimonials-textbox {
    flex: 1;
    padding: 2rem;
}
.testimonials-author {
    text-align: end;
    font-weight: 300;
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:   #022851;
    height: 50%;
}

.pill {
    margin: 3rem;
    padding: .75rem;
    border-radius: .75rem;
    background-color: white;
    color: #022851;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem; */
    padding: 2rem;
    background-color:   #022851;
    color: white;
}